.cards div[card] { background: gray; overflow: hidden; position:relative; }
.cards div[card]:hover, .cards div[card].pressed { background: rgb(102, 114, 133); }
.cards div[card] .img { position: absolute; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%) scale(var(--cardzoom)); text-align: center; font-size: calc(var(--size) * 0.8); line-height: 100%; }
.cards div[card] * { display: block; pointer-events:none; }

.cards div[card] .desc { 
  text-transform: capitalize;
  font-size: calc(max(0.15*var(--size), 15px));
  line-height: 115%;
  bottom: 0;
  width: 100%;
  position: absolute;
  transition: all 0.5s;
  background: #fff9;
  padding: 0.12em;
  padding-bottom: 0;
  text-align: center;
  opacity: 0;
  box-sizing: border-box;
  transform: translateY(100%);
  word-wrap: break-word;
  z-index: 1;
}
.cards div[card]:hover .desc, .cards div[card].hover .desc { opacity: 1; transform: translateY(0);}
.cards.cards div[card].visible { background: #d6d4d4; }
.cards div[card].paired { background: green; }
.cards div[card][missing] { pointer-events: none; opacity: 0;}

.cards {
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-gap: 5px;
  height: 100%;
  --size: 20px;
  --cardzoom: 1;
}
.game {
  flex:1;
  position:relative;
}
.game .congrats {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 4em;
  z-index: 2;
  text-align: center;
  background: #ffffffdb;
  border-radius: 0.5em;
  padding: 0.5em;
}

.game .congrats button {
    font-size: 52%;
    margin: 0.3em;
}

.game:not(.completed) .congrats {
  display:none;
}
html {
  display: flex;
  flex-direction:column;
  height: 100%;
}
body {
  flex:1;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.opts {
  margin-top: 8px;
  text-align: center;
  transition: all 0.5s;
}

body:not(.settings) .opts > *:not([settings]):not([permanent]) {
  opacity: 0.5;
  pointer-events: none;
}

.opts > * {
  cursor: pointer;
}

.opts button[settings] > b:before {
  content: '🔒';
}

body:not(.settings) .opts button[settings] > b:before {
  content: '✎';
}


.opts select, .opts button {
  font-size: 140%;
  margin: 0 0.2em;
  vertical-align: top;
}

.opts button {
  display: inline-block;
  padding: 0;
  color: #f9f9f9;
  background-color: #037f8c;
  font-family: sans-serif;
  line-height: 2;
  font-size: 1rem;
  height: 2em;
  width: 2em;
  border: 0;
  vertical-align: middle;
}

.cards div[card]::after {
  content: '✔';
  position: absolute;
  bottom: 0;
  right: calc(0.1 * var(--size));
  font-size: calc(0.4 * var(--size));
  color: #24f024;
  opacity: 0;
  transition: all 0.5s;
}
.cards div[card].paired::after {
  opacity: 1;
}

BODY[os="windows"] .cards .img[template="char"]{
  font-family: 'WindowsFlags', sans-serif;
}
.cards div[card] .img[template="char"]{
  --cardzoom: 1 !important;
}

@font-face {
  font-family: "WindowsFlags"; 
  src: url("./NotoColorEmoji_WindowsCompatible.ttf"); 
  /*src: url("./BabelStoneFlags.ttf"); */
}

.game:not(.completed) .cards div[card][card].paired {
  background: #9fc89f;
}
.game:not(.completed) .cards div[card].paired:not(.hover) img {
  opacity: 0;
}
.game:not(.completed) .cards div[card].paired:not(.hover) .img, 
.game:not(.completed) .cards div[card].paired:not(.hover) .desc {
  opacity: 0;
}

body{
  background: black !important;
}
.opts select {
  background: #b5b5b5;
  font-size: 18px;
  height: 32px;
}


body {
  margin-bottom: 2px;
}
.opts.opts > * {
  margin-bottom: 6px;
}

body:-webkit-full-screen {
  width: 100vw !important;
  height: 100vh !important ;
}



.cards > div[card] {
  perspective: 600px;
  cursor: pointer;
}

.wrap3dcard {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.cards > div[card].visible .wrap3dcard,
body.showAll .cards > div[card] .wrap3dcard
{
  transform: translateX(-100%) rotateY(-180deg);
}

.wrap3dcard > div {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.front3dcard {
  background: #63c8d2;
}

.back3dcard {
  background: #f3ffde;
  transform: rotateY(180deg);
}

.front3dcard:before {
  content: '☆';
  font-size: calc(var(--size) * 0.5);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #6056d5;
  opacity: 0.2;
  transition: opacity 0.4s; /* Safari 11 iOS issue */
}
.cards.cards div[card].visible .front3dcard::before {
  opacity: 0;
}

.cards > div[card]:hover .front3dcard:before,
.cards > div[card].hover .front3dcard:before
 {
  opacity: 1;
}

.cards > div[card]:hover .front3dcard,
.cards > div[card].hover .front3dcard {
  background: #96d9df;
}

.cards div[card], .wrap3dcard > div {
  border-radius: calc(var(--size) * 0.08);
}