
.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 4em;
  z-index: 2;
  text-align: center;
  background: #ffffffdb;
  border-radius: 0.5em;
  padding: 0.5em;
}

.bt {
  margin: 0.3em;
  display: inline-block;
  padding: 0;
  color: #f9f9f9;
  background-color: #037f8c;
  font-family: sans-serif;
  line-height: 2;
  font-size: 1rem;
  border: 0;
  vertical-align: middle;
  border-radius: 10%;
  box-shadow: 0 0 0px 2px #63c8d2; 
}



.popup {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: #000000a8;
}

.popup .congrats, .popup .opts {
    text-align: left;
}

.popup .opts > div {
    display: flex;
    align-items: center;
}

.popup nav {
    text-align: center;
}

.popup .opts label {
    width: 5em;
    color: #007bff;
}

.popup .opts span {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.popup .opts select, .popup .opts button {
    margin: 0;
}

.popup .opts select {border-radius: 4px;background: #007bff;color: white;box-shadow: 0 0 0px 2px #9cc2e8;}

.popup .opts > div:not(:last-child) {
    border-bottom: Solid 1px #007bff;
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
}

.popup h2 {
    margin: 0;
    color: #007bff;
    text-align: center;
    text-shadow: 0 0 5px #007bff;
}
